.footer {
  display: flex;
  max-width: 880px;
  margin: 0 auto;
  text-align: left;
}
.footer__copyright {
  font-size: 18px;
  line-height: 27.78px;
  color: rgba(84, 84, 84, 1);
  margin: 0 0 60px;
  width: 318px;
}

@media screen and (max-width: 920px) {
  .footer {
    justify-content: center;
  }
  .footer__copyright {
    width: 581px;
  }
}

@media screen and (max-width: 640px) {
  .footer {
    width: 282px;
  }
  .footer__copyright {
    font-size: 14px;
    line-height: 16.94px;
    color: rgba(84, 84, 84, 1);
    margin: 0 0 36px;
  }
}
